.icon-alert {
  -webkit-mask-image: url(alert.svg);
  mask-image: url(alert.svg);
}
.icon-back {
  -webkit-mask-image: url(back.svg);
  mask-image: url(back.svg);
}
.icon-answer {
  -webkit-mask: url(answer.svg) space no-repeat bottom;
  mask: url(answer.svg) space no-repeat bottom;
  width: 0.813rem;
}
