.accordion {
    .accordion-item {
        margin-bottom: .5rem;
        border-radius: 1rem;
    }

    .accordion-button {
        font-weight: 700;
        border-radius: 1rem;
    }

    .accordion-body {
        padding-bottom: 1rem;
    }
}
