.alert-primary .alert-heading {
  color: var(--alert-primary-title-color);
}

.alert-secondary .alert-heading {
  color: var(--alert-secondary-title-color);
}

.alert-success .alert-heading {
  color: var(--alert-success-title-color);
}

.alert-info .alert-heading {
  color: var(--alert-info-title-color);
}

.alert-warning .alert-heading {
  color: var(--alert-warning-title-color);
}

.alert-danger .alert-heading {
  color: var(--alert-error-title-color);
}
