.btn {
  text-transform: uppercase;
}

.btn-outline-primary {
  background-color: var(--btn-ghost-background-color);
  border-style: dashed;
}

.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
  border-style: solid;
}

.btn:disabled,
.btn.disabled {
  color: var(--btn-disabled-text-color);
  background-color: var(--dividerColor);
  border-color: transparent;
}

.btn-outline-primary:disabled,
.btn-outline-primary.disabled,
.btn-outline-danger:disabled,
.btn-outline-danger.disabled,
.btn-outline-info:disabled,
.btn-outline-info.disabled {
  color: var(--btn-disabled-text-color);
  background-color: var(--paperBackgroundColor);
  border-color: var(--dividerColor);
}

.btn-icon {
  padding: 1rem;
}

// https://twitter.com/chriscoyier/status/1124064712067624960
.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: var(--primaryTextColor);
  mask-size: cover;
}
