/*
 * For colors, we use CSS variables. It allows to override them with a theme at
 * runtime by injecting another CSS file that change the values of those CSS
 * variables. Bootstrap has some sass variables to change the colors, but we
 * can't use CSS variables here, as some colors are computed with sass
 * functions. So, we keep the default colors of bootstrap when running sass,
 * and later we replace the color values with CSS variables with a postcss
 * plugin (postcss-cozy-vars).
 *
 * html targets the same element as :root but its specificity is lower.
 * This allows us to use html to define our CSS custom properties inside
 * bootstrap (or cozy-ui), and use :root in the custom CSS injected by the
 * stack for context that have a theme. This way, the :root selector can
 * override CSS custom properties, without relying on CSS order.
 *
 * Cf https://github.com/cozy/cozy-ui/blob/master/stylus/settings/palette.styl
 */
html {
  /* Also used by cozy-ui */
  --primaryColor: #297ef2;                     // Primary 600
  --primaryColorDark: #0f5cc7;                 // Primary 700
  --primaryColorLight: #579eff;                // Primary 500
  --secondaryColor: #a346cd;                   // Secondary 600
  --secondaryColorDark: #7a349a;               // Secondary 700
  --secondaryColorLight: #c27ae3;              // Secondary 500
  --primaryTextColor: rgba(29, 33, 42, .9);    // Grey 900 + alpha 0.9
  --primaryTextContrastColor: #fff;            // Primary contrastText
  --secondaryTextColor: rgba(29, 33, 42, .48); // Grey 900 + alpha 0.48
  --secondaryTextContrastColor: #fff;          // Secondary contrastText
  --disabledTextColor: rgba(29, 33, 42, .32);  // Grey 900 + alpha 0.32
  --successColor: #09ae1c;                     // Success 600
  --infoColor: #7c8086;                        // Grey 600
  --warningColor: #cb8100;                     // Warning 600
  --errorColor: #ea3f3f;                       // Error 600
  --defaultBackgroundColor: #f4f5f6;           // Grey 100
  --paperBackgroundColor: #fff;                // White
  --dividerColor: rgba(29, 33, 42, .12);       // Grey 900 + alpha 0.12

  /* Only for bootstrap theme */
  --alert-primary-color: #081d39;              // Primary 900
  --alert-primary-background-color: #eaf3ff;   // Primary 100
  --alert-secondary-color: #230c2e;            // Secondary 900
  --alert-secondary-background-color: #f8eefd; // Secondary 100
  --alert-error-color: #340b0b;                // Error 900
  --alert-error-background-color: #ffecec;     // Error 100
  --alert-warning-color: #281c07;              // Warning 900
  --alert-warning-background-color: #fff3dd;   // Warning 100
  --alert-success-color: #08250b;              // Success 900
  --alert-success-background-color: #e3ffe7;   // Success 100
  --alert-info-color: var(--primaryTextColor);
  --alert-info-background-color: #f4f5f6;      // Grey 100
}
