/*
 * For colors, we use CSS variables. It allows to override them with a theme at
 * runtime by injecting another CSS file that change the values of those CSS
 * variables. Bootstrap has some sass variables to change the colors, but we
 * can't use CSS variables here, as some colors are computed with sass
 * functions. So, we keep the default colors of bootstrap when running sass,
 * and later we replace the color values with CSS variables with a postcss
 * plugin (postcss-cozy-vars).
 *
 * html targets the same element as :root but its specificity is lower.
 * This allows us to use html to define our CSS custom properties inside
 * bootstrap (or cozy-ui), and use :root in the custom CSS injected by the
 * stack for context that have a theme. This way, the :root selector can
 * override CSS custom properties, without relying on CSS order.
 *
 * Cf https://github.com/cozy/cozy-ui/blob/master/stylus/settings/palette.styl
 */
html,
.theme-light {
  /* Also used by cozy-ui */
  --primaryColor: #297ef2;                     // Primary 600
  --primaryColorDark: #0f5cc7;                 // Primary 700
  --primaryColorDarkest: #081d39;              // Primary 900
  --primaryColorLight: #579eff;                // Primary 500
  --primaryColorLightest: #eaf3ff;             // Primary 100
  --primaryTextColor: rgba(29, 33, 42, .9);    // Grey 900 + alpha 0.9
  --primaryTextContrastColor: #fff;            // Primary contrastText
  --secondaryColor: #a346cd;                   // Secondary 600
  --secondaryColorDark: #7a349a;               // Secondary 700
  --secondaryColorDarkest: #230c2e;            // Secondary 900
  --secondaryColorLight: #c27ae3;              // Secondary 500
  --secondaryColorLightest: #f8eefd;           // Secondary 100
  --secondaryTextColor: rgba(29, 33, 42, .48); // Grey 900 + alpha 0.48
  --secondaryTextContrastColor: #fff;          // Secondary contrastText
  --errorColor: #ea3f3f;                       // Error 600
  --errorColorDark: #d31f1f;                   // Error 700
  --errorColorDarkest: #340b0b;                // Error 900
  --errorColorLight: #ff9b9b;                  // Error 400
  --errorColorLightest: #ffecec;               // Error 100
  --warningColor: #cb8100;                     // Warning 600
  --warningColorDarkest: #281c07;              // Warning 900
  --warningColorLightest: #fff3dd;             // Warning 100
  --successColor: #09ae1c;                     // Success 600
  --successColorDarkest: #08250b;              // Success 900
  --successColorLightest: #e3ffe7;             // Success 100
  --infoColor: #7c8086;                        // Grey 600
  --disabledTextColor: rgba(29, 33, 42, .32);  // Grey 900 + alpha 0.32
  --defaultBackgroundColor: #f4f5f6;           // Grey 100
  --paperBackgroundColor: #fff;                // White
  --dividerColor: rgba(29, 33, 42, .12);       // Grey 900 + alpha 0.12

  /* Links */
  --link-decoration: none;

  /* Banner */
  --banner-color: #f4f5f6; // Grey 100

  /* Buttons */
  --btn-primary-shadow-color: rgba(41, 126, 242, .08);        // Primary 600 + alpha 0.08
  --btn-disabled-text-color: rgba(29, 33, 42, .32);           // Grey 900 + alpha 0.32
  --btn-secondary-border-color: rgba(29, 33, 42, .16);        // Grey 900 + alpha 0.16
  --btn-secondary-hover-color: rgba(29, 33, 42, .04);         // Grey 900 + alpha 0.04
  --btn-ghost-border-color: rgba(41, 126, 242, .5);           // Primary 600 + alpha 0.5
  --btn-ghost-background-color: #eaf3ff;                      // Primary 100
  --btn-ghost-hover-color: #e3efff;                           // Primary 100 + Primary 600, alpha 0.04
  --btn-intent-text-color: #fff;
  --btn-intent-background-color: #ea3f3f;                     // Error 600
  --btn-intent-outlined-border-color: rgba(234, 63, 63, .24); // Error 600 + alpha 0.24
  --btn-intent-outlined-text-color: #ea3f3f;                  // Error 600
  --btn-intent-outlined-hover-color: rgba(234, 63, 63, .04);  // Error 600 + alpha 0.04
  --btn-text-hover-color: rgba(41, 126, 242, .04);            // Primary 600, alpha 0.04

  /* Cards */
  --card-simple-border-color: rgba(29, 33, 42, .16);      // Grey 900 + alpha 0.16
  --card-elevation-text-color: inherit;
  --card-elevation-background-color: #fff;
  --card-intent-text-color: inherit;
  --card-intent-background-color: rgba(234, 63, 63, .12); // Error 600 + alpha 0.12
}

.theme-inverted {
  /* Also used by cozy-ui */
  --primaryColor: #fff;
  --primaryColorDark: #eaf3ff;         // Primary 100
  --primaryColorDarkest: #fff;
  --primaryColorLightest: #579eff;     // Primary 500
  --primaryTextColor: #fff;
  --primaryTextContrastColor: #297ef2; // Primary 600
  --secondaryTextColor: rgba(255, 255, 255, .64);
  --errorColor: #fff;
  --errorColorDarkest: #fff;
  --errorColorLight: #ffd3d3;          // Error 200
  --errorColorLightest: #f96b6b;       // Error 500
  --warningColor: #fff;
  --warningColorDarkest: #fff;
  --warningColorLightest: #efa82d;     // Warning 500
  --successColor: #fff;
  --successColorDarkest: #fff;
  --successColorLightest: #38c949;     // Success 500
  --infoColor: #579eff;                // Primary 500
  --disabledTextColor: rgba(255, 255, 255, .64);
  --defaultBackgroundColor: #579eff;   // Primary 500
  --paperBackgroundColor: #297ef2;     // Primary 600
  --dividerColor: rgba(255, 255, 255, .12);

  /* Links */
  --link-decoration: underline;

  /* Banner */
  --banner-color: #0f5cc7; // Primary 700

  /* Buttons */
  --btn-primary-shadow-color: rgba(255, 255, 255, .08);
  --btn-disabled-text-color: rgba(255, 255, 255, .4);
  --btn-secondary-border-color: rgba(255, 255, 255, .24);
  --btn-secondary-hover-color: rgba(255, 255, 255, .08);
  --btn-ghost-border-color: rgba(255, 255, 255, .5);
  --btn-ghost-background-color: #579eff;                        // Primary 500
  --btn-ghost-hover-color: #64a6ff;
  --btn-intent-text-color: #fff;
  --btn-intent-background-color: #ea3f3f;                       // Error 600
  --btn-intent-outlined-border-color: rgba(255, 211, 211, .32); // Error 200 + alpha 0.32
  --btn-intent-outlined-text-color: #ffd3d3;                    // Error 200
  --btn-intent-outlined-hover-color: rgba(255, 211, 211, .08);
  --btn-text-hover-color: rgba(255, 255, 255, .08);

  /* Cards */
  --card-simple-border-color: transparent;
  --card-elevation-text-color: rgba(29, 33, 42, .9);
  --card-elevation-background-color: #fff;
  --card-intent-text-color: #ffd3d3;                       // Error 200
  --card-intent-background-color: rgba(255, 155, 155, .4); // Error 400 + alpha 0.4
}

@media (prefers-color-scheme: dark) {
  html {
    /* Also used by cozy-ui */
    --primaryColor: #91bfff;
    --primaryColorDark: #579eff;
    --primaryColorDarkest: #eaf3ff;
    --primaryColorLightest: #081d39;
    --primaryTextColor: #fff;
    --primaryTextContrastColor: rgba(8, 29, 57, .9);
    --secondaryColor: #d79df2;
    --secondaryColorDarkest: #f8eefd;
    --secondaryColorLightest: #230c2e;
    --secondaryTextColor: rgba(255, 255, 255, .64);
    --errorColor: #ff9b9b;
    --errorColorDark: #f96b6b;
    --errorColorDarkest: #ffecec;
    --errorColorLight: #ea3f3f;
    --errorColorLightest: #340b0b;
    --warningColor: #ffc35c;
    --warningColorDarkest: #fff3dd;
    --warningColorLightest: #281c07;
    --successColor: #66e475;
    --successColorDarkest: #e3ffe7;
    --successColorLightest: #08250b;
    --infoColor: rgba(255, 255, 255, .64);
    --disabledTextColor: rgba(255, 255, 255, .4);
    --defaultBackgroundColor: #1d212a;
    --paperBackgroundColor: #2c3039;
    --dividerColor: rgba(255, 255, 255, .12);

    /* Links */
    --link-decoration: none;

    /* Buttons */
    --btn-primary-shadow-color: rgba(145, 191, 255, .08);
    --btn-disabled-text-color: rgba(255, 255, 255, .4);
    --btn-secondary-border-color: rgba(255, 255, 255, .24);
    --btn-secondary-hover-color: rgba(255, 255, 255, .08);
    --btn-ghost-border-color: rgba(145, 191, 255, .5);
    --btn-ghost-background-color: #081d39;
    --btn-ghost-hover-color: #0a2447;
    --btn-intent-text-color: #000;
    --btn-intent-background-color: #ff9b9b;
    --btn-intent-outlined-border-color: rgba(255, 211, 211, .32);
    --btn-intent-outlined-text-color: #ff9b9b;
    --btn-intent-outlined-hover-color: rgba(255, 155, 155, .08);
    --btn-text-hover-color: rgba(145, 191, 255, .08);

    /* Cards */
    --card-simple-border-color: rgba(255, 255, 255, .32);
    --card-elevation-background-color: rgba(255, 255, 255, .07);
    --card-intent-background-color: rgba(255, 155, 155, .16);
  }
}
