// https://piccalil.li/tutorial/creating-a-full-bleed-css-utility
.fullbleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.reverse-y {
  transform: scaleY(-1);
}

.vertical-separator {
  width: 1px;
  height: 1.5rem;
  background-color: var(--dividerColor);
}

.modal-icon {
  top: 0;
  width: 4.8rem;
  height: 4.8rem;
  padding: .75rem;
  margin: -2.4rem auto -1.9rem;
  background: var(--primaryColor);
  border-radius: 50%;
  box-shadow: 0 .25rem .75rem 0 rgba(0, 0, 0, .08);
}

.modal-dialog {
  margin-top: 2.75rem;
}

.modal-icon .icon {
  width: 3.3rem;
  height: 3.3rem;
  background: var(--paperBackgroundColor);
}

// https://twitter.com/chriscoyier/status/1124064712067624960
.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: var(--primaryTextColor);
  mask-size: cover;
}

.logo {
  display: inline-block;
  height: 3rem;
  object-fit: contain;
}

.illustration {
  display: inline-block;
  height: 6rem;
  object-fit: contain;
}

.avatar {
  width: 4rem;
  height: 4rem;
}

@include media-breakpoint-up(md) {
  .avatar {
    width: 6rem;
    height: 6rem;
  }
}

@include media-breakpoint-down(md) {
  .d-sm-none {
    display: none if($enable-important-utilities, !important, null);
  }
}
