html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@mixin h1 {
  font-size: 3rem;
  line-height: 1.087;
  letter-spacing: -.8px;
}

h1 {
  @include h1();
}

@mixin h2 {
  font-size: 2rem;
  line-height: $headings-line-height;
  letter-spacing: -.4px;
}

h2 {
  @include h2();
}

@mixin h3 {
  font-size: 1.5rem;
  line-height: $headings-line-height;
  letter-spacing: 0;
}

h3 {
  @include h3();
}

@mixin h4 {
  font-size: 1.25rem;
  line-height: $headings-line-height;
  letter-spacing: 0;
}

h4 {
  @include h4();
}

@mixin h5 {
  font-size: 1.125rem;
  line-height: $line-height-base;
  letter-spacing: 0;
}

h5 {
  @include h5();
}

@mixin h6 {
  font-size: 1rem;
  line-height: $line-height-base;
  letter-spacing: 0;
}

h6 {
  @include h6();
}

@include media-breakpoint-up(md) {
  .h1-md {
    @include h1();
  }
  .h2-md {
    @include h2();
  }
  .h3-md {
    @include h3();
  }
  .h4-md {
    @include h4();
  }
  .h5-md {
    @include h5();
  }
  .h6-md {
    @include h6();
  }
  .body1-md {
    @include font-size($font-size-base);
  }
  .small-md {
    @include font-size($small-font-size);
  }
}

caption,
.caption {
  font-size: .75rem;
}

img {
  @include img-fluid();
}
