html,
body {
  height: 100%;
}

h1 {
  line-height: 1.087;
  letter-spacing: -.8px;
}

h2 {
  line-height: $headings-line-height;
  letter-spacing: -.4px;
}

h3,
h4 {
  line-height: $headings-line-height;
  letter-spacing: 0;
}

h5,
h6 {
  line-height: $line-height-base;
  letter-spacing: 0;
}

img {
  @include img-fluid();
}
