// XXX overwrittent to avoid the .was-validated stuff
@mixin form-validation-state-selector($state) {
  @if ($state == "valid" or $state == "invalid") {
    #{if(&, "&", "")}.is-#{$state} {
      @content;
    }
  } @else {
    #{if(&, "&", "")}.is-#{$state} {
      @content;
    }
  }
}

.form-check-input,
.form-check-label {
  cursor: pointer;
}

.form-check-input:hover {
  box-shadow: 0 0 0 .5rem var(--btn-primary-shadow-color);
}

.form-control:hover {
  border-color: var(--primaryColor);
}
