// Do not use the bootstrap system for dynamically sizing fonts according to
// the browser width.
$enable-rfs: false;
$enable-validation-icons: false;

// Use Lato
html {
  --primaryFont: lato, sans-serif;
}
$font-family-sans-serif: var(--primaryFont);

// Normal texts
$font-size-root: 1rem;
$font-size-base: 1rem;
$line-height-base: 1.313;
$small-font-size: .875rem;

// Headings
$headings-line-height: 1.167;
$headings-font-weight: bold;
$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;
$display-font-sizes: (1: 5rem);

// Reduce the number of breakpoints as each breakpoint increase the size of the
// generated CSS.
$grid-breakpoints: (xs: 0, md: 768px);

// Forms
$form-check-input-border-radius: .2rem;
$form-text-margin-top: .5rem;

$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1rem;
$input-btn-font-size: 1rem;
$input-btn-line-height: 1.5;

$input-btn-padding-y-sm: .25rem;
$input-btn-padding-x-sm: .5rem;
$input-btn-font-size-sm: 1rem;

$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-font-size-lg: 1rem;

$input-disabled-bg: var(--dividerColor);

$form-floating-padding-y-lg: 1.25rem;
$form-floating-label-transform: scale(.8) translateY(-2rem) translateX(.15rem);
$form-floating-transition: opacity .2s ease-in-out, transform .2s ease-in-out;

$form-feedback-tooltip-font-size: .75rem;

// Buttons
$btn-padding-x: 1rem;
$btn-padding-y: .688rem;
$btn-border-radius: .125rem;
$btn-font-weight: bold;

$btn-font-size-sm: .8125rem;
$btn-padding-x-sm: .75rem;
$btn-padding-y-sm: .5rem;
$btn-border-radius-sm: .125rem;

$btn-font-size-lg: .9375rem;
$btn-padding-x-lg: 1.25rem;
$btn-padding-y-lg: .875rem;
$btn-border-radius-lg: .125rem;

// Cards
$card-border-color: rgba(0, 0, 0, .08);
$card-border-radius: .5rem;

// Alerts
$alert-border-width: 0;

// Utility
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2, // <-- add one more level
  6: $spacer * 3,
);
$box-shadow: 0 0 0 .5px rgba(0, 0, 0, .12), 0 .125rem .25rem rgba(0, 0, 0, .08), 0 .25rem 1rem rgba(0, 0, 0, .06);
