.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 34rem;
  min-height: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  color: var(--primaryTextColor);
  background-color: var(--paperBackgroundColor);
}

@include media-breakpoint-up(md) {
  .wrapper {
    justify-content: center;
  }
}

.wrapper-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

@include media-breakpoint-up(md) {
  .wrapper-top {
    position: absolute;
    top: 0;
    left: 0;
  }
}
