html {
  --primaryFont: "Helvetica Neue", helvetica, arial, sans-serif;
  --primaryColor: #c62222;
  --primaryColorDark: #951919;
  --primaryColorDarkest: #320808;
  --primaryColorLight: #d14e4e;
  --primaryColorLightest: #f9e9e9;
  --secondaryColor: #2e404f;
  --secondaryColorDark: #22303b;
  --secondaryColorDarkest: #0b1014;
  --secondaryColorLight: #586672;
  --secondaryColorLightest: #eaeced;
  --btn-primary-shadow-color: rgba(198, 34, 34, .08);
  --btn-ghost-border-color: rgba(198, 34, 34, .5);
  --btn-ghost-background-color: #f9e9e9;
  --btn-ghost-hover-color: #f4d3d3;
}

.theme-inverted.theme-inverted {
  --primaryColorDark: #f9e9e9;
  --primaryColorLightest: #d14e4e;
  --primaryTextContrastColor: #c62222;
  --paperBackgroundColor: #c62222;
  --banner-color: #951919;
}
